header
{
	text-align: center;
}

section
{
	display: flex;
	justify-content: space-around;
}

article
{
	width: 40%;
}

a
{
	text-decoration: none;
	color: inherit;
}


h2
{
	margin-left: 10px;
	color: #760001;
}

footer
{
	text-align: right;
	margin-right: 40px;
}